<plugin name='zk' version='2.4.0' grailsVersion='2.3 &gt; 2.3.8'>
  <author>Chanwit Kaewkasi</author>
  <authorEmail>chanwit@gmail.com</authorEmail>
  <title>ZK plugin for Grails</title>
  <description>
Originated from Flyisland's ZK Plugin,
ZKGrails adds and enhances the ZK's RIA capabilities
and seamlessly integrates them with Grails' infrastructures.
</description>
  <documentation>http://grails.org/plugin/zk</documentation>
  <type>ZkGrailsPlugin</type>
  <resources>
    <resource>org.zkoss.zk.grails.dev.DevZulController</resource>
    <resource>ZkTagLib</resource>
    <resource>ZulWrapperTagLib</resource>
  </resources>
</plugin>