<plugin name='zk' version='2.2.0' grailsVersion='2.2 &gt; 2.2.1'>
  <author>Chanwit Kaewkasi</author>
  <authorEmail>chanwit@gmail.com</authorEmail>
  <title>ZK plugin for Grails</title>
  <description>
Originated from Flyisland's ZK Plugin,
ZKGrails adds and enhances the ZK's RIA capabilities
and seamlessly integrates them with Grails' infrastructures.
</description>
  <documentation>http://grails.org/plugin/zk</documentation>
  <type>ZkGrailsPlugin</type>
  <resources>
    <resource>zk.Issue137Comet</resource>
    <resource>zk.Issue139_1Comet</resource>
    <resource>zk.Issue139_2Comet</resource>
    <resource>zk.Issue139_3Comet</resource>
    <resource>zk.Issue139_4Comet</resource>
    <resource>zk.Issue139_5Comet</resource>
    <resource>zk.Issue142Comet</resource>
    <resource>zk.Issue318Comet</resource>
    <resource>zk.MyComet</resource>
    <resource>NonPackageComposer</resource>
    <resource>jquery.BindEventComposer</resource>
    <resource>jquery.Form001Composer</resource>
    <resource>jquery.PrototypeComposer</resource>
    <resource>jquery.TestAfterComposer</resource>
    <resource>jquery.TestBeforeNotProceedComposer</resource>
    <resource>jquery.TextComposer</resource>
    <resource>test.IndexComposer</resource>
    <resource>test.Issue317Composer</resource>
    <resource>test.MessageComposer</resource>
    <resource>test.NoGrailsExtendComposer</resource>
    <resource>test.TestForwardComposer</resource>
    <resource>zk.Issue137Composer</resource>
    <resource>zk.Issue139Composer</resource>
    <resource>zk.Issue142Composer</resource>
    <resource>zk.Issue146_1Composer</resource>
    <resource>zk.Issue146_2Composer</resource>
    <resource>zk.Issue146_3Composer</resource>
    <resource>zk.Issue146_4Composer</resource>
    <resource>zk.Issue164Composer</resource>
    <resource>zk.Issue287Composer</resource>
    <resource>zk.Issue318Composer</resource>
    <resource>zk.Issue47Composer</resource>
    <resource>zk.Issue74Composer</resource>
    <resource>zk.MyComposer</resource>
    <resource>zk.UserComposer</resource>
    <resource>zk.crud.IndexComposer</resource>
    <resource>zk.hangman.HangmanComposer</resource>
    <resource>zk.hello.HelloComposer</resource>
    <resource>zk.select.JQueryComposer</resource>
    <resource>zk.select.TestComposer</resource>
    <resource>TestUrlMappings</resource>
    <resource>ZkUrlMappings</resource>
    <resource>org.zkoss.zk.grails.dev.DevZulController</resource>
    <resource>zk.Issue136Controller</resource>
    <resource>zk.Issue96Controller</resource>
    <resource>zk.TestController</resource>
    <resource>zk.Comment</resource>
    <resource>zk.Issue47</resource>
    <resource>zk.User</resource>
    <resource>zk.hangman.Hangman</resource>
    <resource>zk.UserLiveModel</resource>
    <resource>zk.TestService</resource>
    <resource>MyTagLib</resource>
    <resource>ZkTagLib</resource>
    <resource>ZulWrapperTagLib</resource>
    <resource>zk.UserViewModel</resource>
    <resource>zk.hangman.HangmanViewModel</resource>
    <resource>zk.hello.GridViewModel</resource>
    <resource>zk.hello.HelloViewModel</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://repo1.maven.org/maven2' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.gebish' name='geb-junit4' version='0.9.0' />
      <dependency group='com.h2database' name='h2' version='1.3.168' />
      <dependency group='org.seleniumhq.selenium' name='selenium-firefox-driver' version='2.32.0' />
      <dependency group='org.seleniumhq.selenium' name='selenium-support' version='2.32.0' />
    </test>
    <build>
      <dependency group='com.google.code.maven-svn-wagon' name='maven-svn-wagon' version='1.4' />
      <dependency group='org.apache.maven.wagon' name='wagon-webdav-jackrabbit' version='2.2' />
      <dependency group='net.java.dev.inflector' name='inflector' version='0.7.0' />
    </build>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>